<div class='content_header'>
<h2>Hi <%=current_user.username.capitalize %>!</h2>
<h4> Take a look at your progress... </h4>
<br>

<% @user.posts.each do |p|%>
<div class='post_card'>
<h3 class='post_name'><%= p.name %></h3>
<img class='post_img' src='<%=p.image_url%>'  height="75" width="75">
<br>
<br>
<div class='post_info'>
<p>Step Count: <%=p.step_count%></p>
<p>Cardio Score: <%=p.cardio_score%></p>
<p>Caloric Burn: <%=p.caloric_burn%></p>
<p>Walking Distance: <%=p.walking_distance%></p>
<p>Content: <%=p.content%></p>
</div>
<form method="post" action="/posts/<%=p.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Post">
</form>

<form method="get" action="/posts/<%=p.id%>/edit">
  <input type="submit" value="Edit Post">
</form>
</div>

<%end%>

</div>