
<div class="container"></div>
    <div class ='header'>
<h2>Hello <%=current_user.username.capitalize %>!<i> See what everyone has been up to!</i></h2>
<br>


    <% @posts.each do |p| %>
<div class='post_card'>

    <h4><a class='' href='/posts/<%=p.id%>'><%=p.name%></a></h4>
    <br>
    <img class='post_img' src='<%=p.image_url%>' height="125" width="125">
    <br>
    <br>
   <div class='post_info'>
    <p>Step Count: <%=p.step_count%></p>
    <p>Cardio Score: <%=p.cardio_score%></p>
    <p>Caloric Burn: <%=p.caloric_burn%></p>
    <p>Walking Distance: <%=p.walking_distance%></p>
    <p>Content: <%=p.content%></p>
   </div>
    
        <%if current_user.posts.include?(p)%>
         <form method="post" action="/posts/<%=p.id%>/delete">
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete Post">
        </form>

        <form method="get" action="/posts/<%=p.id%>/edit">
            <input type="submit" value="Edit Post">
        </form>
        <%end%>
    </div>
<%end%>

