<br>
<br>
<h2>See What <%=@post.name.capitalize%>...Says</h2>
<div class='post_show'>
<h3 class='post_name'><%=@post.name%></h3>
<br>
<img class='post_img'src='<%=@post.image_url%>' height="200" width="200">
<br>
<br>
<div class='post_info'>
<p>Step Count: <%=@post.step_count%></p>
<p>Cardio Score: <%=@post.cardio_score%></p>
<p>Caloric Burn: <%=@post.caloric_burn%></p>
<p>Walking Distance: <%=@post.walking_distance%></p>
<p>Content: <i><%=@post.content%></i></p>
</div>

 <%if current_user.posts.include?(@post)%>
         <form method="post" action="/posts/<%=@post.id%>/delete">
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete Post">
        </form>

        <form method="get" action="/posts/<%=@post.id%>/edit">
            <input type="submit" value="Edit Post">
        </form>
<%end%>
</div>